<!DOCTYPE html>
<html>
  <head>
      <%- include('./../../layout/head') %>
  </head>
  <body>
    <%- include('./../../layout/header') %>
    <main>
      <section>
        <%- include('./detail') %>
      </section>
    </main>
  </body>
</html>