<!DOCTYPE html>
<html>

<head>
  <title>Book App</title>
  <link rel='stylesheet' type="text/css" a href="/styles/reset.css">
  <link rel='stylesheet' type="text/css" a href="/styles/base.css">
  <link rel='stylesheet' type="text/css" a href='styles/layout.css'>
  <!-- <link rel='stylesheet' type="text/css" a href='styles/modules.css'>
  <link rel='stylesheet' type="text/css" a href='styles/icons.css'> -->
</head>

<body>
  <main>
    <h1>Home Page</h1>
    <p><a href="/new">Search API</a></p>
  </main>
 
</body>

</html>
